@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --btn-text-color:rgba(0,0,0,.5);
    --btn-background-color: #f4b200;
    --active-color:#000;
}
body,html{
    font-family: 'Fredoka', sans-serif;
    width: 100vw;
    line-height: 1.5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ts-page-wrapper{
    overflow: hidden;
}

header {
    position: relative;
    border: 1px solid #000;
    width: 100%;
    height: 798px;

}

.navbar{
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed #000;
    font-size: 1.2rem;
    font-weight: 500;
    
}

.logo{
    background: url(/Src/image/icon.png);
    background-size: 10rem;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
header ul{
    display: flex;  
}
header ul li {
    list-style: none;
}

header ul li a{
    text-decoration: none;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: var(--btn-text-color);
}

header ul li a:last-child{
    margin-left: 1rem;
}

.active{
    color: var(--active-color);
}


.btn{
    background-color: var(--btn-background-color);
    border-color: #f4b200;
    color: #fff;
    padding: 0.9rem;
    border-radius: 6.25rem;
    border-width: 0.125rem;
    box-shadow: 0.125rem 0.1875rem 0.9375rem rgb(0 0 0 / 15%);
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/Src/image/background.jpg);
    z-index: -1;
    background-size: cover;
}

.text{
    position: absolute;
    top: 0;
    left: 220px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.text h1{
    font-size: 5rem;
    font-weight: 200;
    line-height: 2em;
}

.text p{
    font-size: 1.1rem;
    line-height: 2em;
    color: var(--btn-text-color);
}

.text div a{
    display: inline-block;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.text div a:last-child{
    margin-left: 1rem;
    color: var(--active-color);
    font-size: 1rem;
}

.text div a:last-child:hover{
    border-bottom: 1px solid var(--active-color);
}
